@import url('https://fonts.googleapis.com/css?family=Quicksand:300|Montserrat:300i');

html, body{
    margin: auto 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-color: #0A1C26;
    color: white;
}

/* ----- MAIN BOARD -----*/
#main-board{
    position: relative;
    text-align: center;
    height: 100vh;
    /*background: url('../images/background-pic.jpg') no-repeat top center;
    background-size: cover;*/
}

.profile-img-wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
}

.info-nav-wrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 1em auto;
}

#main-board h3{
    margin: 3em auto;
    display: block;
}

#main-board h2{
    margin: 1em auto 2em auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

#main-board nav{
    margin-bottom: 3em;
}

#main-board nav ul{
    padding: 0;
}

#main-board nav ul li{
    list-style: none;
    margin: 1.2em 2em;
    display: inline-block;
}

#main-board a{
    text-decoration: none;
    font-size: 1.2em;
    color: white;
}

#interaction-board{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 2%;
    grid-column-gap: 1%;
}

.grid-elem-container{
    position: relative;
}

.grid-elem{
    height: 50%;
    width: 40%;
}

.grid-elem:hover{
    cursor: pointer;
}

#about-container{
    bottom: 0;
}

#social-container{
    top: 0;
}

.grid-elem-left{
    position: absolute;
    right: 0;
    background-color: white;
}

#projects-container{
    bottom: 0;
}

#contact-container{
    top: 0;
}

.grid-elem-right{
    background-color: white;
    position: absolute;
}

/*
/* ABOUT ME
.descrp-container{
    margin: auto 3.5em;
    font-size: 1.3em;
}

.hobbie-container{
    height: 30em;
    margin: 2em auto;
}

    .hobbie-card{
        font-size: 1.5em;
        position: absolute;
        width: 45%;
        height: 18em;
        border-radius: 3px;
        box-shadow: 0 5px 5px 0 #E9EDDE;
        cursor: pointer;
    }

        .left-card{
            background-color: #007991;
            margin: 1em 2em 1em 3em;
            z-index: 1;
        }

        .right-card{
            background-color: #007991;
            right: 0;
            margin: 1em 3em 1em 2em;
            z-index: 1;
        }

    .hobbie-slider-left{
        background-color: #BDD4E7;
        display: flex;
        flex-direction: row;
        margin: 1em 2em 1em 12%;
        transition: all .4s ease-out;
    }

        .hobbie-slider-left:hover{
            cursor: pointer;
            background-color: #A1CFF4;
        }

    .hobbie-slider-right{
        background-color: #BDD4E7;
        display: flex;
        flex-direction: row-reverse;    
        right: 0;
        margin: 1em 12% 1em 2em;
        transition: all .5s ease-out;
    }

        .hobbie-slider-right:hover{
            cursor: pointer;
            background-color: #A1CFF4;
        }

    .hobbie-descrp{
        flex: 1;
    }

    .slide-btn-container{
        width: 15%;
        max-height: 100%;
        align-items: center;
    }

        .left-img-slider img{
            position: relative;
            top: 36%;
            max-width: 100%;
            transform: rotate(-90deg);
        }

        .right-img-slider img{
            position: relative;
            top: 36%;
            max-width: 100%;
            transform: rotate(90deg);
        }

    /* PROJECT BOARD 

#my-projects-board{
    color: black;
}

    .background-img-container{
        position: absolute;
        transform: rotate(10deg);
        left: -8%;
        max-width: 100%;
        height: auto;
    }

    .project-container{
        display: flex;
        justify-content: center;
        height: 30em;
        margin: 1em auto;
        transition: all 1s ease-out;
}

    .project-descrp-card{
        position: relative;
        margin: 2em auto;
        width: 40%;
        background-color: blue;
        border-radius: 5px;
        box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
        transition: all 1s ease-out;
        z-index: 0;
}

        .show-more-btn{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: orange;
            transition: background-color 0.3s ease-in-out;
        }

        .show-more-btn:hover{
            cursor: pointer;
            background-color: darkgoldenrod;
        }

        /* PROJECTS MODAL 

        .project-modal{
            position: fixed;
            z-index: 2;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            overflow: auto;
            visibility: hidden;
            transition: all 0s linear 0.5s;
            opacity: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 3% auto;
            padding: 20px;
            border: 1px solid #888;
            color: black;
            width: 80vw; 
            height: 80vh;
            z-index: 2;
            border-radius: 4px;
            overflow-y: scroll;
        }

        .exit-modal-btn{
            position: absolute;
            right: 0;
            margin-top: 4%;
            margin-right: 10%;
            width: 5%;
            height: 10%;
        }

        .exit-modal-btn:hover{
            cursor: pointer;
        }

        .exit-btn-img{
            max-width: 100%;
            height: auto;

        }

/* SOCIAL BOARD 
.social-cards-container{
    display: flex;
    height: 30em;
    justify-content: space-between;
}

.social-card{
    flex: 1;
    margin: 3em 3em;
    background-color: orange;
}*/