@import url('https://fonts.googleapis.com/css?family=Quicksand:300|Montserrat:300i');

html, body{
    margin: auto 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-color: #0A1C26;
    color: white;
}

/* ----- MAIN BOARD -----*/
#main-board{
    position: relative;
    text-align: center;
    height: 100vh;
    /*background: url('../images/background-pic.jpg') no-repeat top center;
    background-size: cover;*/
}

.profile-img-wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
}

.info-nav-wrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 1em auto;
}

#main-board h3{
    margin: 3em auto;
    display: block;
}

#main-board h2{
    margin: 1em auto 2em auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

#main-board nav{
    margin-bottom: 3em;
}

#main-board nav ul{
    padding: 0;
}

#main-board nav ul li{
    list-style: none;
    margin: 1.2em 2em;
    display: inline-block;
}

#main-board a{
    text-decoration: none;
    font-size: 1.2em;
    color: white;
}

/* ABOUT ME*/
.descrp-container{
    margin: auto 3.5em;
    font-size: 1.3em;
}

.hobbie-container{
    height: 30em;
    margin: 2em auto;
}

.hobbie-card{
    font-size: 1.5em;
    position: absolute;
    width: 33em;
    height: 18em;
    border-radius: 3px;
    box-shadow: 0 5px 5px 0 #E9EDDE;
}

.left-card{
    background-color: #007991;
    margin: 1em 2em 1em 3em;
    z-index: 1;
}

.right-card{
    background-color: #007991;
    right: 0;
    margin: 1em 3em 1em 2em;
    z-index: 1;
}

.hobbie-slider{
    background-color: #BDD4E7;
}

.left-slider{
    margin: 1em 2em 1em 8em;
}

.right-slider{
    right: 0;
    margin: 1em 8em 1em 2em;
}

/* PROJECT BOARD */
#my-projects-board{
    background-color: white;
}
.project-container{
    display: flex;
    justify-content: center;
    height: 30em;
    margin: 1em auto;
}

.project-descrp-card{
    margin: 2em auto;
    width: 50em;
    background-color: blue;
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
}

/* SOCIAL BOARD */
.social-cards-container{
    display: flex;
    height: 30em;
    justify-content: space-between;
}

.social-card{
    flex: 1;
    margin: 3em 3em;
    background-color: orange;
}