/** IMPORT **/
@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-image: url("../Images/wallpaper.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    overflow-x: hidden;
}

    /* ----- PROFILE IMAGE SECTION ----- */

.profile-img-wrap{
    margin: 0 auto;
    width: 50%;
}

.profile-img{
    max-height: 100%;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border-style: solid;
    border-color: #2c2d2d;
    border-width: 5px;
}

    /* ----- NAV ----- */

nav{
    margin: 50px 50px 30% 50px;
}

nav ul{
    padding: 0;
}

nav ul li{
    margin: 15px auto;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: inherit;
}

    /* ----- SHOWCASE ----- */

#showcase:before{
    display: block;
    content: "";
    background-color: #2c2d2d;
    opacity: 0.9;
    height: 20px;
    width: 100%;
}

#showcase{
    height: 500px;
    margin-bottom: 30px;
}

#showcase:after{
    content: "";
    display: block;
}

.section-wrap{
    background-color: transparent;
    transition: all 0.5s linear;
    position: absolute;
    width: auto;
    height: 100%;
}

    /* ----- HOME SECTION ----- */

#home-wrap{
    margin-top: -25%;
    text-align: center;
}

    /* ----- ABOUT SECTION ----- */

#about-wrap{
    opacity: 0;
    visibility: hidden;
}

    /* ----- PROJECTS SECTION ----- */

#projects-wrap{
    opacity: 0;
    visibility: hidden;
    width: 100%;
    position: absolute;
}

#projects-wrap.links-container{
    opacity: 1;
    visibility: visible;
    height: 100%;
    position: static;
}

.projects-choice-wrap{
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 50%;
}

#current-projects-wrap{
    visibility: hidden;
    opacity: 0;
}

#past-projects-wrap{
    visibility: hidden;
    opacity: 0;
}

.projects-choice-wrap:hover{
    cursor: pointer;
}

    /* ----- SOCIAL SECTION ----- */

#social-wrap{
    opacity: 0;
    visibility: hidden;
}

    /* ----- CONTACT SECTION ----- */

#contact-wrap{
    opacity: 0;
    visibility: hidden;
}

#contact-wrap h2{
    margin: 1em auto;
    display: inline-block;
}

#contact-wrap p:nth-child(3){
    font-size: 0.8em;
}

.mail-wrap{
    margin: 1em auto;
    display: inline-block;
}

.mail-wrap a{
    text-decoration: underline;
    color: #2c2d2d;
}

    /* ----- FOOTER ----- */

footer{
    font-size: 0.8em;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
