/** IMPORT **/
@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-image: url("../Images/wallpaper.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.profile-img-wrap{
    margin: 0 auto;
    width: 50%;
}

.profile-img{
    max-height: 100%;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border-style: solid;
    border-color: #2c2d2d;
    border-width: 5px;
}

nav{
    margin: 50px 50px 30% 50px;
}

#showcase:before{
    display: block;
    content: "";
    background-color: #2c2d2d;
    opacity: 0.9;
    height: 20px;
    width: 100%;
}

nav ul{
    padding: 0;
}

nav ul li{
    margin: 15px auto;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: inherit;
}

a[id="about-anchor"]:target{
    -webkit-transform: translateY( -100px);
    transform: translateY( -100px );
}

#showcase{
    height: 500px;
}

#showcase:after{
    content: "";
    display: block;
}

.section-wrap{
    background-color: transparent;
    transition: all 0.5s linear;
    position: absolute;
    height: 100%;
}

#about-wrap{
    opacity: 0;
    visibility: hidden;
}

#projects-wrap{
    opacity: 0;
    visibility: hidden;
}

#social-wrap{
    opacity: 0;
    visibility: hidden;
}

#contact-wrap{
    opacity: 0;
    visibility: hidden;
}

footer{
    font-size: 0.8em;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
