    /** IMPORT **/
@import url('https://fonts.googleapis.com/css?family=Raleway');

    /** FONT **/
html, body{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 0;
    height: 110%;
    background-image: url("../Images/wallpaper.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;
    color: #2c2d2d;
}

    /** MAIN BOARD **/

#main-board{
    position: relative;
}

#main-board .profile-img-wrap{
    position: absolute;
    display: block;
    margin: auto;
    top: 4em;
    left: 7em;
    width: 15em;
    height: 15em;
}

#main-board .profile-img{
    max-height: 100%;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border-style: solid;
    border-color: #2c2d2d;
    border-width: 5px;
}

#main-board nav{
    position: absolute;
    top: 3em;
    right: 6em;
    display: flex;
    justify-content: flex-end;
}

#main-board nav ul{
    padding-left: 0;
    padding-right: 1em;
}

#main-board nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0 1.5em 0 1.5em;
}

#main-board nav ul li:last-child{
    border-right: none;
}

#main-board nav ul li a{
    font-size: 1.05em;
    text-decoration: none;
    color: #202020;
    transition: all 0.30s ease-in-out;
}

#main-board nav ul li a:hover{
    color: rgb(51, 51, 51);
    font-size: 1.5em;
}

#showcase{
    position: absolute;
    top: 9em;
    width: 100%;
    height: 40em;
}

.section-wrap{
    position: absolute;
    padding: 15px 15px 0 15px;
    height: 100%;
    width: 60%;
    left: 25em;
    background-color: transparent;
    transition: all 0.5s linear;
}

    /* HOME SECTION */

#home-wrap{
    visibility: visible;
    opacity: 1;
}

    /* ABOUT SECTION */

#about-wrap{
    visibility: hidden;
    opacity: 0;
}

#about-wrap p:nth-child(1){
    margin-top: 1.6em;
}

    /* PROJECTS SECTION */

#projects-wrap{
    visibility: hidden;
    opacity: 0;
    padding: 0;
}

.projects-choice-wrap{
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 500ms linear;
}

.projects-choice-wrap:hover{
    cursor: pointer;
    color: rgb(219, 215, 215);
    background-color: #696868;
    font-size: 1.3em;
    opacity: 0.6;
}

    /* SOCIAL SECTION*/

#social-wrap{
    word-wrap: break-word;
    visibility: hidden;
    opacity: 0;
    padding: 0;
}

.links-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.social-link{
    height: 100%;
    padding: 1em;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1; 
    border: 5px solid transparent;
    transition: all 200ms linear;
}

.social-link:hover{
    cursor: pointer;
    opacity: 0.7;
    background-color: #5e5d5d;
    border: 5px solid rgb(77, 77, 77);
    color: rgb(187, 186, 186);
}

    /* CONTACT SECTION */

#contact-wrap{
    visibility: hidden;
    opacity: 0;
    text-align: center;
}

#contact-wrap h2{
    margin-top: 1.5em;
}

#contact-wrap p:nth-child(1){
    margin: 2em 1em;
}

#contact-wrap p:nth-child(3){
    font-size: 0.8em;
}

.mail-wrap{
    margin: 4em 1em;
}

.mail-wrap a{
    text-decoration: underline;
    color: #2c2d2d;
}

    /* FOOTER */

footer{
    position: absolute;
    bottom: -15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
