@import url('https://fonts.googleapis.com/css?family=Quicksand:300|Montserrat:300i');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

html, body{
    margin: auto 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-color: #0A1C26;
    color: white;
}