@import url('https://fonts.googleapis.com/css?family=Quicksand:300|Montserrat:300i');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

html, body{
    margin: auto 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-color: #0A1C26;
    color: white;
}

/* ----- MAIN BOARD -----*/
#main-board{
    position: relative;
    text-align: center;
    height: 100vh;
}

.info-wrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto auto 6em auto;
}

.down-arrow-wrap{
    position: absolute;
    left: 44%;
    bottom: 0;
    height: 12%;
    width: 12%;
}

.down-arrow-wrap:hover{
    cursor: pointer;
}

.down-arrow-wrap img{
    max-width: 100%;
    max-height: 100%;
    filter: brightness(0) invert(0.8);
}

#interaction-board{
    height: 100vh;
    width: 100vw;
}

.ui-elem-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.text-elem{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 0%;   /*centers element*/
    visibility: hidden;
    opacity: 0;
    background-color: white;
    transition: visibility 1s, opacity 1s ease-out;
    -moz-transition: visibility 1s, opacity 1s ease-out;
    -webkit-transition: visibility 1s, opacity 1s ease-out;
    -o-transition: visibility 1s, opacity 1s ease-out;
}

/*------------------------------------
                  GRID
-------------------------------------*/  

.grid-container{
    display: grid;
    z-index: 10;
}

.grid-elem-container{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-elem{
}


/*------------------------------------
                FOOTER
-------------------------------------*/         
.footer-links{
    display: inline-block;
    margin: 0.5em auto;
}

.footer-links a{
    font-size: 2em;
    text-decoration: none;
    color: white;
    margin: auto 0.4em;
    padding: 1em auto;
}
