#quote-section article hgroup h1:last-of-type {
  margin-left: 50px;
}

#quote-section article hgroup {
  margin-top: 4em;
}

.quote-container a {
  text-decoration: underline;
}


@media only screen and (min-width: 1200px) {
  #quote-section article p {
    padding: 0 15em;
    line-height: 30px;
  }

  #quote-section article hgroup {
    padding: 0 15em;
  }
}

@media only screen and (max-width: 1200px) {

  #quote-section article p {
    line-height: 25px;
  }
}