#filter-section {
  display: flex;
  align-items: center;
}

#filter-section p {
  margin: 0;
  vertical-align: middle;
}

#filtersHolder {
  display: flex;
  flex-wrap: wrap;
}

#projects-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0;
  padding: 1em 5em;
  min-height: 40vh;
  max-height: 80vh;
  overflow-y: scroll;
  border-radius: 3px;
  border: 1px solid #bcbcbc;
}

#projects-contents .loadingPanel {
  width: 100%;
  height: 100%;
  text-align: center;
}

@media only screen and (max-width: 600px) { 
  #filter-section {
    align-items: initial;
  }

  #filter-section p:first-child { 
    margin-top: 5px;
  }
}