.roundedContainer {
  display: inline-block;
  padding: 1em;
  border-radius: 50%;
  width: auto;
  box-shadow: 0px 10px 50px 20px #0d1b2a;
  transition: all 0.2s ease-out;
  z-index: 2;
}

.roundedContainer:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.roundedContainer img {
  object-fit: contain;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}