#contact-section {
  position: relative;
  flex-direction: column;
}

#contact-form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  justify-items: center;
}

#contact-form input[type='text'] {
  border: none;
  border-bottom: 1px solid #bcbcbc;
}

#contact-form textarea {
  resize: none;
  border: 1px solid #bcbcbc;
  border-radius: 2px;
}

#contact-form input, #contact-form textarea {
  width: 30rem;
  padding: 10px;
  color: white;
  font-size: large;
  background-color: transparent;
}

#contact-form .submit-btn {
  border: 1px solid transparent;
  border-bottom: 1px solid #bcbcbc;
  border-radius: 3px;
  transition: border-top-color border-left-color border-right-color 1s ease;
}

#contact-form .submit-btn:hover { 
  cursor: pointer;
  border-top-color: #bcbcbc;
  border-left-color: #bcbcbc;
  border-right-color: #bcbcbc;
}

@media screen and (max-width: 600px) {
  #contact-section {
    padding: 2em;
    margin-bottom: 3em;
  }
  #contact-form input, #contact-form textarea {
    width: 100%;
  }
}