.projectCard {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr  4fr 1fr;
  border: 2px solid #0d1b2a;
  border-radius: 5px;
  padding: 1em;
  margin: 2em 0;
  background-color: #C5D5EA;
}

.projectCard h4, .projectCard h5 {
  margin: 0;
}

.projectCard .projectAction, .projectCard .projectImgWrapper {
  display: flex;
  justify-content: center;
  align-self: center;
}

.projectCard .projectAction button {
  border: 1px solid #0d1b2a;
  border-radius: 3px;
  background-color: transparent;
  width: 120px;
  padding: 10px;
}

.projectCard .projectAction button:hover {
  cursor: pointer;
}

.projectCard .projectDetails {
  margin: 1.5em;
  grid-column-start: 1;
  grid-column-end: 4;
}