#home {
  display: flex;
  flex-direction: column;
  background-color: #7392B7;
  overflow:hidden;
  margin: 0;
}

#home #topContainer {
  display: flex;
  flex: 60%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home .roundedContainer {
  background-color: whitesmoke;
}

#home #bottomContainer {
  flex: 40%;
  width: 100vw;
  background-color: whitesmoke;
}

#home #bottomContainer hgroup {
  text-align: center;
}

#home #bottomContainer h1 {
  margin: 0.5em 0;
  font-size: 100px;
  /*text-shadow: 0px 1px 90px #0d1b2a; */
}