#navbar {
  width: 100%;
  z-index: 4;
  color: white;
  position: fixed;
  padding: 2em 0 1em 0;
  background-color: #353535;
}

#navbar ul.list-opacity-animation {
  padding: 0;
  display: flex;
  justify-content: center;
}

#navbar ul.list-opacity-animation li {
  border-right: 1px solid white;
  padding: 0 100px;
  list-style-type: none;
}

#navbar ul.list-opacity-animation li:last-child {
  border-right: none;
}

#menu-burger-btn {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #navbar {
    display: flex;
    flex-direction: column;
    padding: 2em 2em 1em 2em;
  }

  #menu-burger-btn {
    align-self: flex-end;
    font-size: 25px;
    color: white;
    display: inline-block;
  }

  #menu-burger-btn:hover {
    cursor: pointer;
  }  
  
  #navbar ul.list-opacity-animation {
    margin: 0;
    overflow: hidden;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
  }

  #navbar ul.list-opacity-animation li { 
    margin: 1em 0;
    text-align: center;
    border-right: none;
  }

  #navbar .expanded-menu {
    max-height: 220px;
    opacity: 1;
  }

  #navbar .hidden-menu {
    max-height: 0;
    opacity: 0;
  }
}