#about-container {
  color: #bcbcbc;
}

.about-card {
  display: flex;
  border-radius: 3px;
  padding: 2em;
  color: white;
  background-color: transparent;
  border: 1px solid #bcbcbc;
}

@media screen and (max-width: 600px) {
  .about-card {
    flex-direction: column;
  }
  
}

.img-container {
  padding: 1em;
  flex: 1;
}

.card-info {
  flex: 2;
  padding: 0 2em;
}

.card-info h3 {
  text-align: center;
}

.card-info-detail {
  display: flex;
  justify-content: space-between;
}

.flex-row {
  display: flex;
}

p.id-spec {
  font-weight: bold;
  margin-right: 10px;
}