#filterModal {
  z-index: 3;
  position: fixed;
  background-color:rgba(0, 0, 0, 0.6);
}

.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.modalBox {
  z-index: 4;
  padding: 1em 3em 2em 3em;
  border-radius: 5px;
  background-color: white;
}

.modalTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #0d1b2a;
}

.modalTitle .closeIcon {
  display: flex;
  align-items: center;
}

.modalTitle .closeIcon i {
  font-size: 20px;
}

.modalSelection {
  display: flex;
  margin: 5px 0;
}

.filterSelectionGroup {
  margin: 1em 0;
  padding: 1em 2em;
  min-width: 100px;
  text-align: center;
  border-right: 1px solid #0d1b2a;
}

.filterSelectionGroup:first-child {
  border-left: 1px solid #0d1b2a;
}

.filterSelectionGroup:first-child {
  border-left: 1px solid #0d1b2a;
}

.filterSelectionGroup h5 {
  margin-top: 0;
}

.checkboxContainer {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
}

.modalConfirmation {
  display: flex;
  justify-content: center;
}

.modalConfirmation button {
  cursor: pointer;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid #0d1b2a;
  border-radius: 3px;
  padding: 0.5em 1.5em;
  margin: 0.5em 0.5em;
  min-width: 100px;
}