#presentation-section .header-container {
  margin-top: 10em;
}

#presentation-text {
  font-size: 30px;
  padding: 1em 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

#presentation-text h1 {
  font-size: 60px;
}

.animatedTitle:before {
  opacity: 1;
  content: '';
}

#presentation-text h3 {
  height: 0.8em;
  position: relative;
}

.animated-title {
  opacity: 0;
  position: absolute;
  animation: show-hide-title 3s linear forwards;
  -moz-animation: show-hide-title 3s linear forwards;
  -o-animation: show-hide-title 3s linear forwards;
  -webkit-animation: show-hide-title 3s linear forwards;
}

.animated-title:last-child {
  animation: sticky-title 3s linear 3000ms forwards;
  -moz-animation: sticky-title 3s linear 3000ms forwards;
  -o-animation: sticky-title 3s linear 3000ms forwards;
  -webkit-animation: sticky-title 3s linear 3000ms forwards;
}

@keyframes show-hide-title {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0;
  }
}

@keyframes sticky-title {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  #presentation-section .header-container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  #presentation-text h1 {
    font-size: 40px;
  }

  #presentation-text h3 {
    font-size: 25px;
  }

  #presentation-section .header-container {
    margin-top: 7em;
  }

  #presentation-section hgroup {
    margin-top: 2em;
  }

  #presentation-section ul.social-media-icons {
    margin-top: 3em;
    justify-content: center;
  }
}

