.social-media-icons {
  display: flex;
  margin-top: 10em;
  padding: 0;
  justify-content: center;
}

.social-media-icons li {
  margin: 0 2em;
  list-style-type: none;
}

.social-media-icons i {
  font-size: 22px;
}
