.menuBackground {
  position: fixed;
  background-color:rgba(0, 0, 0, 0.6);
}

.visibleBackground {
  display: block;
}

.hiddenBackground {
  display: none;
}

.openDrawer {
  min-width: 100%;
}

.hideDrawer {
  min-width: 0%;
}

#menu {
  color: white;
  position: fixed;
  height: 100vh;
  width: 30%;
  right: 0;
  text-align: center;
  background-color: #1D3A5D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
}

#menu header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#menu header h3 {
  margin: 0;
}

#menu ul {
  padding: 0;
  list-style-type: none;
}

#menu footer{
  display: flex;
  justify-content: space-evenly;
}