.timelineCard {
  padding: 1em;
  border: 2px solid black;
  border-radius: 10px;
}

.timelineCard p {
  margin: 10px 0;
}

.timelineCard .role {
  font-weight: bold;
  font-size: small;
}

.timelineCard .company {
  font-size: x-large;
  font-weight: bolder;
  border-bottom: 1px solid #0d1b2a;
}

.timelineCard .description {
  font-size: 14px;
}

.timelineCard .date {
  color: darkslategray;
  font-size: smaller;
  text-align: right;
}